# frozen_string_literal: true

module Days
  class Day00
    def initialize(puzzle_input)
      @puzzle_input = puzzle_input
    end

    def part_a
      "PENDING-A"
    end

    def part_b
      "PENDING-B"
    end
  end
end
